/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* Modern font */
  background-color: #f0f2f5;
  /* Light background for a modern look */
  color: #333;
  line-height: 1.6;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

/* Navigation Bar */
.navbar ul {
  list-style: none;
  background-color: #007bff;
  /* A brighter shade for a modern look */
  text-align: center;
  margin: 0;
  padding: 10px 0;
}



.navbar ul li {
  display: inline;
}

.navbar ul li a:not(.activeTab) {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  display: inline-block;
}


.navbar ul li a:not(.activeTab):hover {
  background-color: #e9e7e7;
  color: black;
}

.activeTab {
  background-color: #e9e7e7 !important;
  padding: 15px 0;

  & a {
    color: black !important;
  }
}

/* Hero Section */
.hero {
  background-color: #f8f8f8;
  text-align: center;
  padding: 200px 0;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.25rem;
  /* Larger paragraph for readability */
  max-width: 600px;
  margin: auto;
}

.btn {
  background-color: #007bff;
  display: inline-block;
  /* Vibrant button color */
  border: none;
  text-decoration: none;
  padding: 8px 20px;
  color: #ffffff;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.btn:hover {
  background-color: #45a049;
}

/* Featured Courses */
#featured-courses {
  padding: 50px 20px;
  background-color: #e7e7e7;
  text-align: center;
  width: 100%;


  & h2 {
    margin-bottom: 30px;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.courses-bigcontainer {
  max-width: 1200px;
  margin: 0 auto;
}

.courses-container {
  display: flex;
  /* margin: auto; */
  overflow-x: scroll;

}

.courses-container .course {
  /* For a 3-column grid */
  margin: 10px;
  /* padding: 20px; */
  background-color: #f9f9f9;
  /* Slightly off-white for contrast */
  border-radius: 8px;
  /* Rounded corners for modern look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Soft shadow for depth */
  transition: transform 0.3s ease;
  flex: 0 0 auto;
  /* Prevent courses from shrinking, ensuring they maintain their width */
  margin-right: 40px;
  /* Add some space between courses */
  width: 350px;

  /* Smooth scaling on hover */
  @media screen and (max-width: 768px) {
    flex-basis: auto;
    margin-right: 10px;
  }
}

.courses-container .course:hover {
  transform: scale(1.05);
  /* Slightly scale up courses on hover */
}

.courses-container .course img {
  background: #ffffff;
  width: 100%;
  /* Make image fill the container */
  height: 200px;
  /* Set a fixed height */
  object-fit: contain;
  /* Ensure the image covers the area nicely */
  border-radius: 8px 8px 0 0;
  /* Optional: round the top corners */
  margin-bottom: 10px;
}

.course-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.buy-btn {
  display: inline-block;
  background-color: #007bff;
  /* Green */
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.buy-btn:hover {
  background-color: #45a049;
}





/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.about-container {
  background-color: #f8f8f8;
  padding: 50px 20px;
  text-align: center;
}

.about-website {
  max-width: 1200px;
  margin: auto;

  & h2 {
    margin-bottom: 30px;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

}

.features-container {
  background-color: #e7e7e7;
  padding: 50px 20px;
  text-align: center;
}

/* Features Section */
.features {
  max-width: 1200px;
  margin: auto;

  & h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}


.feature-items {
  display: flex;
  flex-wrap: wrap;
}

.feature-item {
  margin: 20px;
  text-align: center;
  background: #007bff;
  color: #ffffff;
  padding: 30px 10px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  flex-basis: calc(33.33% - 40px);
  /* For a 3-column grid */
  transition: transform 0.3s ease;

  @media screen and (max-width: 768px) {
    flex-basis: 100%;
  }

  & h3 {
    font-size: 1.6rem;
    margin-bottom: 30px;
    border-bottom: solid 1px #ffffff;
  }

  &:hover {
    transform: scale(1.1) translateY(-10px);
    /* transform: skew(-5deg); */
  }
}

/* Testimonials Section */

.testimonials-container {
  background-color: #f8f8f8;
  padding: 50px 20px;
  text-align: center;
}

.testimonials {
  max-width: 1200px;
  margin: auto;

  & h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.testimonials-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.testimonial-item {
  flex-basis: calc(50% - 40px);
  background-color: #fff;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 5px;

  @media screen and (max-width: 768px) {
    flex-basis: 100%;
  }
}

.testimonial-item cite {
  display: block;
  margin-top: 15px;
  font-style: normal;
  color: #333;
  font-weight: bold;
}

.testimonial-item p {
  display: block;
  margin-bottom: 25px;
  font-style: normal;

}

.form-container {
  width: 35rem;
  margin: 100px auto;
  padding: 40px 20px;
  background-color: #f3f3f3;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

/* About Section */

.aboutus-container {
  padding: 100px 20px;
  text-align: center;
  background: #e7e7e7;

  & h2 {
    margin-bottom: 30px;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.about {
  max-width: 1200px;
  margin: auto;
}

.form-group {
  margin-bottom: 20px;
  margin-top: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #0260c4;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
}

.remember-me-container {
  display: flex;
  align-items: center;
  gap: 5px;

  & input[type="checkbox"] {
    cursor: pointer;
  }

  & label {
    margin-top: 5px;
    cursor: pointer;
  }
}

.forgot-password {
  margin-top: 20px;
  text-align: center;

}