/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* Modern font */
  background-color: #f0f2f5;
  /* Light background for a modern look */
  color: #333;
  line-height: 1.6;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

/* Navigation Bar */
.navbar ul {
  list-style: none;
  background-color: #007bff;
  /* A brighter shade for a modern look */
  text-align: center;
  margin: 0;
  padding: 10px 0;
}



.navbar ul li {
  display: inline;
}

.navbar ul li a:not(.activeTab) {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  display: inline-block;
}


.navbar ul li a:not(.activeTab):hover {
  background-color: #e9e7e7;
  color: black;
}

.activeTab {
  background-color: #e9e7e7 !important;
  padding: 15px 0;

  & a {
    color: black !important;
  }
}

/* Hero Section */
.hero {
  background-color: #f8f8f8;
  text-align: center;
  padding: 200px 0;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.25rem;
  /* Larger paragraph for readability */
  max-width: 600px;
  margin: auto;
}

.btn {
  background-color: #007bff;
  display: inline-block;
  /* Vibrant button color */
  border: none;
  text-decoration: none;
  padding: 8px 20px;
  color: #ffffff;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.btn:hover {
  background-color: #45a049;
}

/* Featured Courses */
#featured-courses {
  padding: 50px 20px;
  background-color: #e7e7e7;
  text-align: center;
  width: 100%;


  & h2 {
    margin-bottom: 30px;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.courses-bigcontainer {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.courses-container {
  display: flex;
  /* margin: auto; */
  overflow-x: scroll;
  scroll-behavior: smooth;

}

.scroll-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  background-color: #ccc;
  /* Or any color that matches your design */
  padding: 10px 15px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.scroll-arrow:hover {
  background-color: #007bff;
  color: #fff;
}



.left-arrow {
  left: -55px;
}

.right-arrow {
  right: -55px;
}

/* Optional: Style for Font Awesome icons */
.scroll-arrow i {
  font-size: 24px;
  color: #333;
}

.courses-container .course {
  /* For a 3-column grid */
  margin: 10px;
  /* padding: 20px; */
  background-color: #f9f9f9;
  /* Slightly off-white for contrast */
  border-radius: 8px;
  /* Rounded corners for modern look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Soft shadow for depth */
  transition: transform 0.3s ease;
  flex: 0 0 auto;
  /* Prevent courses from shrinking, ensuring they maintain their width */
  margin-right: 40px;
  /* Add some space between courses */
  width: 350px;

  /* Smooth scaling on hover */
  @media screen and (max-width: 768px) {
    flex-basis: auto;
    margin-right: 10px;
  }
}

.courses-container .course:hover {
  transform: scale(1.05);
  /* Slightly scale up courses on hover */
}

.courses-container .course img {
  background: #ffffff;
  width: 100%;
  /* Make image fill the container */
  height: 200px;
  /* Set a fixed height */
  object-fit: contain;
  /* Ensure the image covers the area nicely */
  border-radius: 8px 8px 0 0;
  /* Optional: round the top corners */
  margin-bottom: 10px;
}

.course-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.buy-btn {
  display: inline-block;
  background-color: #007bff;
  /* Green */
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.buy-btn:hover {
  background-color: #45a049;
}





/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.about-container {
  background-color: #f8f8f8;
  padding: 50px 20px;
  text-align: center;
}

.about-website {
  max-width: 1200px;
  margin: auto;

  & h2 {
    margin-bottom: 30px;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

}

.features-container {
  background-color: #e7e7e7;
  padding: 50px 20px;
  text-align: center;
}

/* Features Section */
.features {
  max-width: 1200px;
  margin: auto;

  & h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}


.feature-items {
  display: flex;
  flex-wrap: wrap;
}

.feature-item {
  margin: 20px;
  text-align: center;
  background: #007bff;
  color: #ffffff;
  padding: 30px 10px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  flex-basis: calc(33.33% - 40px);
  /* For a 3-column grid */
  transition: transform 0.3s ease;

  @media screen and (max-width: 768px) {
    flex-basis: 100%;
  }

  & h3 {
    font-size: 1.6rem;
    margin-bottom: 30px;
    border-bottom: solid 1px #ffffff;
  }

  &:hover {
    transform: scale(1.1) translateY(-10px);
    /* transform: skew(-5deg); */
  }
}

/* Testimonials Section */

.testimonials-container {
  background-color: #f8f8f8;
  padding: 50px 20px;
  text-align: center;
}

.testimonials {
  max-width: 1200px;
  margin: auto;

  & h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.testimonials-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.testimonial-item {
  flex-basis: calc(50% - 40px);
  background-color: #fff;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 5px;

  @media screen and (max-width: 768px) {
    flex-basis: 100%;
  }
}

.testimonial-item cite {
  display: block;
  margin-top: 15px;
  font-style: normal;
  color: #333;
  font-weight: bold;
}

.testimonial-item p {
  display: block;
  margin-bottom: 25px;
  font-style: normal;

}

.form-container {
  width: 35rem;
  margin: 100px auto;
  padding: 40px 20px;
  background-color: #f3f3f3;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.form-group label[for="profile-image"] {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
}

/* Hide the actual file input */
#profile-image {
  display: none;
}

/* Style for displaying the file name (optional) */
#file-name {
  margin-top: 10px;
  display: block;
}

/* About Section */

.aboutus-container {
  padding: 100px 20px;
  text-align: center;
  background: #e7e7e7;

  & h2 {
    margin-bottom: 30px;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.about {
  max-width: 1200px;
  margin: auto;
}

.form-group {
  margin-bottom: 20px;
  margin-top: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0260c4;
}

.error-message {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
}

.remember-me-container {
  display: flex;
  align-items: center;
  gap: 5px;

  & input[type="checkbox"] {
    cursor: pointer;
  }

  & label {
    margin-top: 5px;
    cursor: pointer;
  }
}

.forgot-password {
  margin-top: 20px;
  text-align: center;

}

.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  min-width: 250px;
  background-color: #343a40;
  color: #fff;
  height: 100%;
}

.sidebar-logo {
  padding: 10px;
  text-align: center;
}

.sidebar-logo img {
  /* max-width: 20rem; */
  width: 10rem;
  height: 5rem;

}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li a {
  display: block;
  padding: 10px;
  color: #ccc;
  text-decoration: none;
  border-bottom: 1px solid #444;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.itemActive {
  background-color: #007bff;
  color: #fff !important;
}

.sidebar ul li.itemActive a {
  color: #fff;
}

.sidebar-logout {
  padding: 10px;
  border-top: 1px solid #444;
  /* Adds a separator between the logout button and the rest of the sidebar */
}

.sidebar-logout a {
  color: #ccc;
  text-decoration: none;
  display: block;
  /* text-align: center; */
}

.sidebar-logout a:hover {
  color: #fff;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f8f9fa;
  overflow: scroll;
}

.info-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 2 0px;
}

.card {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  flex-basis: calc(25% - 20px);
  text-align: center;
  min-width: 200px;
  /* Ensure cards don't get too small on smaller screens */
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h3 {
  color: #333;
  margin-bottom: 10px;
}

.card p {
  font-size: 1.5rem;
  color: #007bff;
}

.icon {
  color: #d0ff00;
  font-size: 2rem;
  /* Adjust icon size */
  margin-bottom: 10px;
}

/* Responsive sidebar */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
  }

  .main-content {
    padding-top: 10px;
  }
}

.charts-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  /* max-width: 1200px; */
  margin: 0 auto;
}

.chart-container {
  margin: 20px auto;
}

.chart-container-pi {
  flex: 50%;
}

.chart-container-line {
  flex: 100%;
}

canvas.piChart {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

canvas.lineChart {
  width: 100%;
  max-width: 1200px;
  height: 400px;
  margin: 0 auto;
}
/*cardscss*/
/********/

/* course details*/






















.course-card {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 5px;
  background-color: #fff;
}

.course-media {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
}

.course-media img {
  width: 200px;
  height: auto;
}

.course-rating {
  flex-grow: 1;
  
}

.course-enroll {
  text-align: right;
}

.course-start-date,
.course-price {
  display: block;
}

#enrollButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#enrollButton:hover {
  background-color: #43A047;
}


.about-course,
.what-you-learn {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}


body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

main {
  text-align: center;
}

.enroll-button button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
}

.enroll-button button:hover {
  background-color: #45a049;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(24, 184, 18);
  background-color: rgba(24, 174, 74, 0.4);
}

.modal-content {
  background-color: #747070;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.course-image img {
  max-width: 100%;
  height: auto;
  display: block; 
  margin: 0 auto; 
}
.rating {
  direction: rtl; 
}

.star {
  font-size: 20px;
  cursor: pointer;
  color: #ccc; 
}

.star.rated {
  color: gold; 
}
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.course-header {
  display: flex;
  align-items: center;
  gap: 20px; 
  padding: 20px;
  background-color: #6a6868; 
  border-radius: 8px;
}

.course-image img {
  width: 300px; 
}

.course-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.rating-and-enroll {
  display: flex;
  justify-content: space-between;
}

.enroll-button button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.enroll-button button:hover {
  background-color: #45a049;
}
.enroll-container {
  text-align: right; 
}

.enroll-text-above, .enroll-text-below {
  margin: 5px 0; 
}

.course-details {
  margin-top: 20px;
}

.about-course, .what-learn {
  border: 2px solid #a9a9a9;
  padding: 20px;
  margin-bottom: 20px; 
}


.rating-stats {
  font-size: 0.9em;
  color: #666;
  margin-top: 15px; 
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.modal-content input[type="text"],
.modal-content input[type="tel"] {
  width: 90%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.modal-content button {
  width: 95%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #45a049;
}


@media screen and (max-width: 600px) {
  .modal-content {
    width: 95%;
  }

  .modal-content input[type="text"],
  .modal-content input[type="tel"],
  .modal-content button {
    width: 90%;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 4px;
}

.course-controls {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-controls input[type="text"] {
  padding: 10px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.course-controls button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.course-controls button:hover {
  background-color: #0056b3;
}

.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal2-content {
  background-color: #fefefe;
  margin: 10% auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Adjust as necessary */
}



.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
